:root {
    
    --header-height: 80px;
    --footer-height: 80px;
    --header-media-height: 500px;

    --shadow: 
        0 2px 23px 0 rgba(0,0,0, .1),
        0 2px 49px 0 rgba(0, 0, 0, 0.06);
    ;

    --shadow-hover: 
        0 2px 23px 0 rgba(0, 0, 0, 0.545)
    ;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kavoon', cursive;
    text-decoration: none;
}


/* Layout em GRID*/

.app {
    display: grid;
    grid-template-rows:  
        var(--header-height)
       1fr
        var(--footer-height)
    ;
    grid-template-areas:  
        "header header"
        "main   main"
        "footer footer"
    ;
    height: 100vh;
    background: linear-gradient(68.15deg , #2F2325, #6D4943);
}

header.header {
    grid-area: header;
}

main.main {
    grid-area: main;
}

footer.footer {
    grid-area: footer;
}