.header {
    background: linear-gradient(68.15deg , #2f232500, #82564C);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 2px #fff;
}

.header div {
    width: 100px;
}

.header div img {
    padding: 15px;
    width: 100%;
}

.header h1:hover {
    animation: flipTitle 1s;
    
}

.header .logo  {
    width: 132px;
}

.header .logo img {
    width: 100%;
}

@keyframes flipTitle {
    from {
        transform: rotateZ(0deg);
    } to {
        transform: rotateZ(360deg);
    }
}