main.main {
    background: linear-gradient(68.15deg , #2F2325,#86584E );
}


main.main section.conteudoPrincipal div.apresentacao {
    padding: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    
}

main.main section.conteudoPrincipal h2 {
    text-align: center;
    padding: 20px;
    font-size: 2rem;
}

main.main section.conteudoPrincipal div.apresentacao div.projeto1 {
    background: rgba(128, 128, 128, 0.591);
    padding: 30px;
    text-align: center;
    flex-wrap: wrap;
    border-radius: 50%;
      
    border: solid 2px #fff;
    box-shadow: var(--shadow);
}
main.main section.conteudoPrincipal div.apresentacao div.projeto2 {
    background:rgba(128, 128, 128, 0.591);
    padding: 30px;
    text-align: center;
    border-radius: 50%;
    
    border: solid 2px #fff;
    box-shadow: var(--shadow);
}
main.main section.conteudoPrincipal div.apresentacao div.projeto3 {
    background:rgba(128, 128, 128, 0.591);
    padding: 30px;
    text-align: center;
    border-radius: 50%;
    
    border: solid 2px #fff;
    box-shadow: var(--shadow);
}



main.main section.conteudoPrincipal div.apresentacao div.projeto1:hover {
    border: solid 2px yellow;
}
main.main section.conteudoPrincipal div.apresentacao div.projeto2:hover {
    border: solid 2px yellow;
}
main.main section.conteudoPrincipal div.apresentacao div.projeto3:hover {
    border: solid 2px yellow;
}

@media (max-width: 703px) {
    main.main section.conteudoPrincipal div.apresentacao {
        display: flex;
        flex-direction: column;
        max-width: 433px;
        min-width: 90px;
        margin: auto;
        border-radius: 20px;
        box-shadow: var(--shadow);
        position: static;
    }

    main.main section.conteudoPrincipal div.apresentacao div.projeto1 {
        text-align: center;
        border-radius: 12px;
        position: static;
        margin-bottom: 12px;
        
    }
    main.main section.conteudoPrincipal div.apresentacao div.projeto2 {
        text-align: center;
        border-radius: 12px;
        position: static;
        margin-bottom: 12px;
       
    }
    main.main section.conteudoPrincipal div.apresentacao div.projeto3 {
        text-align: center;
        border-radius: 12px;
        position: static;
    }
}

@media (max-width: 460px) {

    main.main section.conteudoPrincipal h2 {
        text-align: center;
        padding: 20px;
        font-size: 1.8rem;
    }

    main.main section.conteudoPrincipal div.apresentacao {
        display: flex;
        flex-direction: column;
        max-width: 200px;
        min-width: 90px;
        margin: auto;
        border-radius: 20px;
        box-shadow: var(--shadow);
        position: static;
    }

    main.main section.conteudoPrincipal div.apresentacao div.projeto1 {
        text-align: center;
        border-radius: 12px;
        position: static;
        margin-bottom: 12px;
        
    }
    main.main section.conteudoPrincipal div.apresentacao div.projeto2 {
        text-align: center;
        border-radius: 12px;
        position: static;
        margin-bottom: 12px;
       
    }
    main.main section.conteudoPrincipal div.apresentacao div.projeto3 {
        text-align: center;
        border-radius: 12px;
        position: static;
    }
}