:root {
    --bg-blue: #000561;


    --header-height: 80px;
    --logo-height: 15px;
    --footer-height: 80px;


    --color-1: #8982D9;
    --color-2: #82A9D9;
    --coloe-3: #9BABF0;
    --color-4: #95DBF8;
    --color-5: #B895F8;

    --shadow: 
        0 2px 23px 0 rgba(0,0,0, .1),
        0 2px 49px 0 rgba(0, 0, 0, 0.06);
    ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kavoon', cursive;
    text-decoration: none;
}


/* Layout em GRID*/

.app {
    display: grid;
    grid-template-rows:  
        var(--header-height)
       1fr
        var(--footer-height)
    ;
    grid-template-areas:  
        "header header"
        "main   main"
        "footer footer"
    ;
    height: 100vh;
    background: linear-gradient(68.15deg , var(--color-1), var(--color-4));
}

header.header {
    grid-area: header;
}

main.main {
    grid-area: main;
}

footer.footer {
    grid-area: footer;
}